body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.page1 {
    background-image: url("img/adam-miller-dBaz0xhCkPY-unsplash.jpg");
    background-position: 60%;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

#menu-button {
    position: absolute;
    right: 40px;
    margin-top: 15px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 2;
}

#menu-button span {
    width: 50px;
    height: 8px;
    margin-bottom: 7px;
    border-radius: 7px;
    display: block;
    background-color: black;
    position: relative;
    transition: all 0.3s ease-in-out;
}

#menu-button:hover span:nth-child(2n) {
    right: 4px;
}

.menu {
    width: 100%;
    min-height: 100vh;
}

.menu2 {
    text-align: center;
    font-size: 3.8vw;
    top: 0%;
    left: 37%;
    list-style-type: none;
    position: absolute;
    font-weight: 800;
    text-shadow: 0 6px 0 rgba(0, 0, 0, 0.3);
}

.menu2 li {
    margin:0 0 160px 0
}

.menu2 li:hover {
    text-decoration: underline rgb(210, 0, 162);
    text-underline-offset: 16px;
}

#menu-button + .menu {
    display: none;
    opacity: 0;
    visibility: hidden;
}

#menu-button.menu-open + .menu {
    display: block;
    opacity: 0.8;
    visibility: visible;
    background: white;
}

.moon-box {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 150px;
    top: 150px;
    height: 500px;
    width: 550px;
    border-style: solid;
    border-width: 7px;
    border-color: black;
}

.to-the-moon {
    position: relative;
    margin-top: 50px;
    margin-bottom: 118px;
    font-weight: 800;
    font-size: 120px;
    text-align: center;
}

.story {
    position: relative;
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
}

.page1 .moon-box .story span {
    position: relative;
    left: 0;
    transition: left 0.3s cubic-bezier(0.65, 0, 0.35, 1)
}

.page1 .moon-box .story:hover span {
    left: 15px;
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
}
      
    .arrow::before,
    .arrow::after {
    position: relative;
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: #000;
}
      
    .arrow::before {
    transform: rotate(45deg);
}
      
    .arrow::after {
    left: 14px;
    transform: rotate(-45deg);
}

.page2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/raphael-nogueira-svbDI1Pq30s-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.cookies {
    position: fixed;
    color: white;
    bottom: 0;
    height:80px;
    background-color: rgb(12, 0, 22);
    width: 100vw;
}

.Accept-button {
    position: absolute;
    height: 35px;
    width: 100px;
    right: 40px;
    background-color: rgb(2, 2, 102);
    top: 23px;
    margin: 0;
    font-weight: bold;
    color: white;
    font-size: 19px;
}

.Accept-button:hover {
    background-color: rgb(2, 39, 2);
}

.cookie-text {
    position: absolute;
    display: inline;
    max-width: 50%;
    top: 30px;
    left: 20px;
    color: rgb(210, 0, 162);
    text-shadow: 1px 1px 1px
}


.Grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 3.5% 18% 18% 18% 18% 18% 6.5%;
    grid-template-rows: 5% 18% 18% 18% 18% 18% 5%;
    grid-column-gap: 0.5rem;
    color: white;
    position: relative;
}

.Space-Venture {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 5px;
    position: relative;
}

.Space {
    font-weight: 1000;
    margin: 0;
    position: absolute;
    font-size: 112px;
}

.Venture {
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    opacity: 0.75;
    position: absolute;
    font-size: 164px;
    top: 53px;
    left: 7px;
}

.Ground-control {
    
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 1.8vw;
    margin-top: 0;
    margin-bottom: 10px;
}

.protein-pills {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    font-size: 1vw;
    line-height: 1.6;
    position: absolute;
}

.floating {
    font-size: 1.8vw;
    font-style: italic;
    max-width: 100%;
    left: 50px;
    position: absolute;
}

.Persistance {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-right: 35%;
    font-size: 2.5vw;
    color: #fa558c;
    background-image: -webkit-linear-gradient(0deg, #fa558c 4%, #f0e8a5 63%, #fa558c 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.4;
    font-style: italic;
    position: absolute;
    top: 30px;
    line-height: 1.2;
}

.tin-can {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    line-height: 1.6;
    font-size: 1vw;  
    line-height: 1.6;
    position: absolute;
    top: 50px;
}

.Endlink {
    color: rgb(210, 0, 162);
    text-decoration: underline;
}
    
.picture-tom {
    width: 100px;
    height: auto;
    float: right;
}

.page2 .Grid .tin-can .Endlink span {

    position: relative;
    left: 10px;
    transition: left 0.3s cubic-bezier(0.65, 0, 0.35, 1);
    text-decoration:none;
    display: inline-block;
}
    
.page2 .Grid .tin-can .Endlink:hover span {
    left: 25px;
}


@media screen and (max-width: 700px) {
    
    @import 'layout/_mobile'

}

@media screen and (min-width: 700px) {
    
    .mobile-only {
        display: none;
    }

    .page2 .Grid .tin-can .Endlink span {
        display: none;
    }
}